/*
Author: Owen Storbeck
Filename: FirstProjectCSS
*/
body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, sans-serif;
}

#pageContent ul {
    list-style: armenian;
    padding-left: 1.25rem;
    max-width: 800px;
}

#pageContent li {
    display: flow-root;
    margin-bottom: 12px;
    line-height: 1.5;
}

#pageContent ul img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0 0 8px 12px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px dashed coral;
    border-collapse: collapse;
}

#wrapper {
    margin-left: 150px;
    margin-right: 150px;
    font-family: Georgia, 'Times', Helvetica, sans-serif;
    height: 3000px;
    background-color: blue;
    color: antiquewhite;
}

#header {
    width: 99.8%;
    height: 40px;
    background: rgba(236, 181, 77, 0.97);
    border: solid #ed3737 thin;
    border-bottom: solid #f9e9a1 10px;
    border-top: solid rgba(105, 164, 25, 0.92) 10px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
}

a.button {
    padding: 6px;
    border: 1px outset groove;
    border-radius: 7px;
    color: #fae4e4;
    background-color: rgba(193, 55, 198, 0.99);
    text-decoration: none;
    margin: 20px;
}

content {
    float: left;
    width: 100%;
}

#pageContent {
    float: left;
    color: #47b49b;
    line-height: 1.6;
    width: 95%;
    height: 750px;
}

#content h2 {
    color: #ddaa49;
    padding-left: 6px;
}

#content h3 {
    color: #ddaa49;
    margin-left: none;
}

#pageContent {
    padding-left: 15px;
}

#pageContent img {
    width: 60%;
}

#pageContent li {
    padding-bottom: 12px;
}

#leftEdge {
    float: left;
    border-left: solid #ddc14c thin;
    background: #9570da;
    width: 1%;
    height: 2900px;
}

#rightEdge {
    float: right;
    border-left: solid #ddc14c thin;
    background: #9570da;
    width: 1%;
    height: 2900px;
}

#pageContent p {
    padding-left: 18px;
    line-height: 1.5;
}

#menu img {
    margin-left: 16px;
    width: 80%;
    margin-top: 22px;
}

